nifi/NiFi_Flow.json
{"flowContents":{"identifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0","instanceIdentifier":"b5af5bbb-019c-1000-4fc0-8db7c0770cf6","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"dfba57ef-2e3b-37f8-8f8a-ae277798ced8","instanceIdentifier":"f7ee3e92-019c-1000-03b5-fd54d6dc7284","name":"QueryRecord","comments":"","position":{"x":352.0,"y":-1080.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Include Zero Record FlowFiles":"true","select_combustivel":"SELECT\nCAST(\"Regiao - Sigla\" AS VARCHAR) AS regiao,\nCAST(\"Estado - Sigla\" AS VARCHAR) AS estado,\nCAST(Municipio AS VARCHAR) AS municipio,\nCAST(Revenda AS VARCHAR) AS revenda,\nCAST(\"CNPJ da Revenda\" AS VARCHAR) AS cnpj,\nCAST(Produto AS VARCHAR) AS produto,\n\nSUBSTRING(\"Data da Coleta\",7,4) || '-' ||\nSUBSTRING(\"Data da Coleta\",4,2) || '-' ||\nSUBSTRING(\"Data da Coleta\",1,2) AS data_coleta,\n\nCAST(REPLACE(\"Valor de Venda\", ',', '.') AS DECIMAL) AS valor_venda,\nCAST(REPLACE(\"Valor de Compra\", ',', '.') AS DECIMAL) AS valor_compra,\nCAST(Bandeira AS VARCHAR) AS bandeira\n\nFROM FLOWFILE","Default Decimal Scale":"0","Record Writer":"aadb1c25-008f-3984-a3ab-4d219f730f9c","Record Reader":"fd18972e-867c-376d-95ad-0e736e46b82b","Default Decimal Precision":"10"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"select_combustivel":{"name":"select_combustivel","displayName":"select_combustivel","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"ba7ce069-d810-3a2e-b29a-f6b7b325bb00","instanceIdentifier":"f49fef6d-019c-1000-301a-6135103e6981","name":"PutDatabaseRecord","comments":"","position":{"x":-360.0,"y":-1080.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Table Name":"preco_combustivel","Quote Column Identifiers":"false","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2619b1d1-f6b3-3469-9442-71e5462a08a9","Delete Keys":null,"Record Reader":"fd18972e-867c-376d-95ad-0e736e46b82b","Quote Table Identifiers":"false","Schema Name":null,"Database Session AutoCommit":"false","Unmatched Field Behavior":"Ignore Unmatched Fields","Database Name":null,"Allow Multiple SQL Statements":"false","Rollback On Failure":"false","Update Keys":null,"Field Containing SQL":null,"Database Dialect Service":null,"Data Record Path":null,"Statement Type Record Path":null,"Column Name Translation Pattern":null,"Column Name Translation Strategy":"REMOVE_SPACE","Binary String Format":"UTF-8","Unmatched Column Behavior":"Ignore Unmatched Columns","Database Type":"Generic","Post-Processing SQL":null,"Translate Field Names":"true","Statement Type":"INSERT","Pre-Processing SQL":null,"Table Schema Cache Size":"100","Maximum Batch Size":"1000"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Column Identifiers":{"name":"Quote Column Identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quote Table Identifiers":{"name":"Quote Table Identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Session AutoCommit":{"name":"Database Session AutoCommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Multiple SQL Statements":{"name":"Allow Multiple SQL Statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rollback On Failure":{"name":"Rollback On Failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Field Containing SQL":{"name":"Field Containing SQL","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary String Format":{"name":"Binary String Format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Post-Processing SQL":{"name":"Post-Processing SQL","displayName":"Post-Processing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pre-Processing SQL":{"name":"Pre-Processing SQL","displayName":"Pre-Processing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Cache Size":{"name":"Table Schema Cache Size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Batch Size":{"name":"Maximum Batch Size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"bc43148e-2b7c-3d89-8b15-814fd24eb080","instanceIdentifier":"f89b7c10-019c-1000-6c1d-005624f5879c","name":"GenerateFlowFile","comments":"","position":{"x":-1064.0,"y":-1584.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"File Size":"0B","Run Schedule":"0 sec","Batch Size":"1","Unique FlowFiles":"false","Scheduling Strategy":"Timer Driven","Mime Type":null,"Custom Text":null,"Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Run Schedule":{"name":"Run Schedule","displayName":"Run Schedule","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scheduling Strategy":{"name":"Scheduling Strategy","displayName":"Scheduling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"b4bdc4ef-e239-39ad-acb8-9c76c4634653","instanceIdentifier":"f8883cad-019c-1000-0242-f9d6906c7602","name":"InvokeHTTP","comments":"","position":{"x":-712.0,"y":-1368.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsas/ca/ca-2025-02.zip","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"bdb35f04-8cd2-398f-b5f9-636a23e26a11","instanceIdentifier":"f484bc43-019c-1000-f3ce-8e687cb87f4a","name":"ConvertRecord","comments":"","position":{"x":352.0,"y":-1584.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"aadb1c25-008f-3984-a3ab-4d219f730f9c","Record Reader":"e62d18fe-e174-3832-b620-72734993ee39"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"ae4c2e61-70a9-384a-85b7-e8758bec2937","instanceIdentifier":"f88caa15-019c-1000-c94e-35fa37b20629","name":"PutFile","comments":"","position":{"x":-352.0,"y":-1584.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"E:\\Estudo\\GitHubDesktop\\MeusProjetos\\Projeto-Pipeline-Dados-Combustiveis-Brasil\\data\\zip","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"18f4f90d-a494-3da8-8eed-1c3bd5e1bc1d","instanceIdentifier":"f7d3f119-019c-1000-8593-f79eeba22dc3","name":"UnpackContent","comments":"","position":{"x":0.0,"y":-1376.0},"type":"org.apache.nifi.processors.standard.UnpackContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Allow Stored Entries With Data Descriptor":"false","Packaging Format":"zip","Filename Character Set":"UTF-8","File Filter":".*"},"propertyDescriptors":{"Allow Stored Entries With Data Descriptor":{"name":"Allow Stored Entries With Data Descriptor","displayName":"Allow Stored Entries With Data Descriptor","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Packaging Format":{"name":"Packaging Format","displayName":"Packaging Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Filename Character Set":{"name":"Filename Character Set","displayName":"Filename Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"f7f9d255-64fd-3afd-bc6c-267ba225c9e3","instanceIdentifier":"f881e499-019c-1000-6c4d-bf674b87bbdc","name":"PutFile","comments":"","position":{"x":-712.0,"y":-872.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"E:\\Estudo\\GitHubDesktop\\MeusProjetos\\Projeto-Pipeline-Dados-Combustiveis-Brasil\\data\\error","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"ff4e82d5-6498-316e-9c4c-34574dbe1753","instanceIdentifier":"f87feabb-019c-1000-5f58-c28f6d39d737","name":"PutFile","comments":"","position":{"x":0.0,"y":-872.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"E:\\Estudo\\GitHubDesktop\\MeusProjetos\\Projeto-Pipeline-Dados-Combustiveis-Brasil\\data\\processed","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f2801cbf-9c7a-340e-8a0e-5dd0f2ba296c","instanceIdentifier":"f867c8f3-019c-1000-02ad-ef3ab2fe8433","name":"","source":{"id":"18f4f90d-a494-3da8-8eed-1c3bd5e1bc1d","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"UnpackContent","comments":"","instanceIdentifier":"f7d3f119-019c-1000-8593-f79eeba22dc3"},"destination":{"id":"bdb35f04-8cd2-398f-b5f9-636a23e26a11","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"ConvertRecord","comments":"","instanceIdentifier":"f484bc43-019c-1000-f3ce-8e687cb87f4a"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"f3b9547b-7e6c-32a4-a6f8-045892077ebb","instanceIdentifier":"f88fa0a7-019c-1000-cd61-ccaaa2818d2d","name":"","source":{"id":"ae4c2e61-70a9-384a-85b7-e8758bec2937","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"PutFile","comments":"","instanceIdentifier":"f88caa15-019c-1000-c94e-35fa37b20629"},"destination":{"id":"18f4f90d-a494-3da8-8eed-1c3bd5e1bc1d","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"UnpackContent","comments":"","instanceIdentifier":"f7d3f119-019c-1000-8593-f79eeba22dc3"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"de40c16c-690a-369b-a388-4bb6c1004bea","instanceIdentifier":"f8811b87-019c-1000-3c37-56eb8463e945","name":"","source":{"id":"ba7ce069-d810-3a2e-b29a-f6b7b325bb00","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"f49fef6d-019c-1000-301a-6135103e6981"},"destination":{"id":"ff4e82d5-6498-316e-9c4c-34574dbe1753","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"PutFile","comments":"","instanceIdentifier":"f87feabb-019c-1000-5f58-c28f6d39d737"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"5a5fc814-8427-38a0-b2cc-f92b7af5b7c9","instanceIdentifier":"f87475d2-019c-1000-21f2-c8c077c35d5e","name":"","source":{"id":"dfba57ef-2e3b-37f8-8f8a-ae277798ced8","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"QueryRecord","comments":"","instanceIdentifier":"f7ee3e92-019c-1000-03b5-fd54d6dc7284"},"destination":{"id":"ba7ce069-d810-3a2e-b29a-f6b7b325bb00","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"f49fef6d-019c-1000-301a-6135103e6981"},"labelIndex":0,"zIndex":7,"selectedRelationships":["select_combustivel"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"fa26edd7-b20f-3bde-b31e-ab3059fb4b03","instanceIdentifier":"f88e8141-019c-1000-767f-5cb8c1483891","name":"","source":{"id":"b4bdc4ef-e239-39ad-acb8-9c76c4634653","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"InvokeHTTP","comments":"","instanceIdentifier":"f8883cad-019c-1000-0242-f9d6906c7602"},"destination":{"id":"ae4c2e61-70a9-384a-85b7-e8758bec2937","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"PutFile","comments":"","instanceIdentifier":"f88caa15-019c-1000-c94e-35fa37b20629"},"labelIndex":0,"zIndex":10,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"d8b2a21b-5d27-350b-be79-8547637ce170","instanceIdentifier":"f7efd7c7-019c-1000-b111-a73d6d538deb","name":"","source":{"id":"bdb35f04-8cd2-398f-b5f9-636a23e26a11","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"ConvertRecord","comments":"","instanceIdentifier":"f484bc43-019c-1000-f3ce-8e687cb87f4a"},"destination":{"id":"dfba57ef-2e3b-37f8-8f8a-ae277798ced8","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"QueryRecord","comments":"","instanceIdentifier":"f7ee3e92-019c-1000-03b5-fd54d6dc7284"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"66c6b3e3-41f4-3a91-8587-fe63f1ad8be3","instanceIdentifier":"f882cd64-019c-1000-529f-418771f9294e","name":"","source":{"id":"ba7ce069-d810-3a2e-b29a-f6b7b325bb00","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"f49fef6d-019c-1000-301a-6135103e6981"},"destination":{"id":"f7f9d255-64fd-3afd-bc6c-267ba225c9e3","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"PutFile","comments":"","instanceIdentifier":"f881e499-019c-1000-6c4d-bf674b87bbdc"},"labelIndex":0,"zIndex":9,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"ed666984-7499-37b0-b89b-c96f58ce8f0e","instanceIdentifier":"f89d2068-019c-1000-612a-d3d9fdbbba14","name":"","source":{"id":"bc43148e-2b7c-3d89-8b15-814fd24eb080","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"GenerateFlowFile","comments":"","instanceIdentifier":"f89b7c10-019c-1000-6c1d-005624f5879c"},"destination":{"id":"b4bdc4ef-e239-39ad-acb8-9c76c4634653","type":"PROCESSOR","groupId":"87876c19-9218-37ba-beb2-f404c4e8f0f0","name":"InvokeHTTP","comments":"","instanceIdentifier":"f8883cad-019c-1000-0242-f9d6906c7602"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"2619b1d1-f6b3-3469-9442-71e5462a08a9","instanceIdentifier":"c4786574-019c-1000-c6d6-d41a15e4396f","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.8.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"C:\\Users\\Dan\\nifi-2.8.0\\drivers\\mysql-connector-j-9.6.0.jar","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:mysql://localhost:3306/combustiveis_anp","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"root","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"aadb1c25-008f-3984-a3ab-4d219f730f9c","instanceIdentifier":"f491c7ed-019c-1000-5f25-4890276d8356","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"e62d18fe-e174-3832-b620-72734993ee39","instanceIdentifier":"f48c72f6-019c-1000-d2fc-ddbc643c898d","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":";","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"},{"identifier":"fd18972e-867c-376d-95ad-0e736e46b82b","instanceIdentifier":"f4b410b2-019c-1000-8c4e-406dec87fb78","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"87876c19-9218-37ba-beb2-f404c4e8f0f0"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}